
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f1f0;
  }
  
  #header {
    text-align: left;
    margin: 0 auto;
    padding: 0 0 4px 0;
    background-color: #f7f1f0;
    height: 98px;
  }
  
  nav ul {
    position: relative;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 42px;
    text-decoration: none;
    font-size: 14px;
    list-style-type: none;
    font-family: cursive;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #262220;
    padding: 14px 20px;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: red;
  }
  
  nav ul li a:active,
  nav ul li a.active {
    background-color: #762a2a33;
  }
  
  #nav-toggle {
    display: none;
  }
  
  #imgheader {
    width: 6rem;
    height: 7rem;
    object-fit: contain;
    background-color: transparent;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }
  
  .search {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 3rem 23rem 2rem 0;
  }
  
  #searchButton,
  #searchInput,
  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
  }
  
  #searchButton {
    position: relative;
    margin-left: 1rem;
  }
  
  #searchInput {
    font-size: 16px;
    font-family: cursive, sans-serif;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
  }
  
  #likedButton {
    position: relative;
    margin-left: 1rem;
  }
  
  
  
  @media (max-width: 768px) {
    nav ul {
      display: none;
      flex-direction: column;
    }
    nav ul.show {
      display: flex;
    }
    #nav-toggle {
      display: block;
      background-color: #ffeaf8;
      border: none;
      cursor: pointer;
      font-size: 20px;
      margin-top: -50px;
    }
    #imgheader {
      margin: 0 auto;
    }
    .search {
      justify-content: flex-end;
      margin: 0;
    }
    #searchButton,
    #searchInput,
    #likedButton {
      position: relative;
      margin-left: 0;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1024px) {
    nav ul {
      display: flene;
    }x;
      flex-direction: row;
    }
    #nav-toggle {
      display: no
    #imgheader {
      margin: 0 auto;
    }
    .search {
      justify-content: flex-end;
      margin: 0;
    }
    #searchButton,
    #searchInput,
    #likedButton {
      position: relative;
      margin-left: 1rem;
    }
  }
  