body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f1f0;
  width: fit-content;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header#header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 80px;
}
nav {
  display: flex;
  list-style: none; 
  margin: 0; 
  padding: 0;
}
nav ul {
  position: relative;
  display: flex;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 42px;
  text-decoration: none;
  font-size: 14px;
  list-style-type: none;
  font-family: CURSIVE;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #262220;
  padding: 14px 20px;
  display: block;
}

nav ul li a:hover {
  color: #5d3c36;
}

nav ul li a.active {
  color: #a15c38;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);

}

#nav-toggle {
  display: none;
}
.closebtn {
  display: none;
}

#imgheader {
  width: 6rem;
  height: 7rem;
  object-fit: contain;
  display: block;
  background-color: transparent;
  position: relative;
  text-align: center;
  margin: 0 0 0 28rem;
}

#searchInput {
  font-size: 16px;
  font-family: cursive, SANS-SERIF;
  border: 1px solid #a15c38;
  padding: 10px;
  border-radius: 25px;
  float: right;
  background: #f7f1f0;
  margin-top: -56px;
}
#searchInput.expanded {
  width: 200px;
  opacity: 1;
  visibility: visible;
}

#container { 
  background-color: #f7f1f0;
  margin-top: 20px;
  font-family: cursive;
  margin-left: 15px;

}


.card {
    height: 550px;
  padding-left: 25px;
  padding-block-start: 10px;
  padding-right: 30px;
  background-color: #f7f1f0a4;
  margin: 10px;
  border: 1px solid #c3a6a0;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.card-about {
  width: 100%;
  height: 350px;
  background-color: #f7f1f0; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
  margin-left: 30px;
}

.row-about {
  display: flex; 
}

.column1 {
  flex: 1; 
  padding: 20px; }

.column2 {
  flex: 1; 
  padding: 20px;
}

.image-about {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  margin-top: -70px;
}

.about-text {
  font-size: 16px; 
  line-height: 1.5; 
  color: #262220; 
  font-family: cursive, sans-serif;
  margin-top: 50px;
}

.card-contact {
  width: 100%;
  height: 350px;
  background-color: #f7f1f0; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
}

.row-contact {
  display: flex; 
}

.column1 {
  flex: 1; 
  padding: 20px; }

.column2 {
  flex: 1; 
  padding: 20px;
}

.image-contact {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  margin-top: 25px;
}

.contact-text {
  font-size: 16px; 
  line-height: 1.5; 
  color: #262220; 
  font-family: cursive, sans-serif;
  margin-top: 50px;
}

#container-skeleton {
  background-color: #f7f1f0;
  margin-top: 20px;
  font-family: cursive;
  margin-left: 15px;
}
.card-skeleton {
  height: 550px;
padding-left: 25px;
padding-block-start: 10px;
padding-right: 30px;
background-color: #f7f1f0;
margin: 10px;
border: 1px solid #c3a6a0;
border-radius: 7%;
display: flex;
flex-direction: column;
align-items: center;
}

.image-skeleton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #c3a6a0;
  height: 200px;
  width: 200px;
  object-fit: fill;
  display: block;
  margin: 10px;
  border-radius: 7%;
}
.skeleton-title {
  font-weight: bold;
  margin-bottom: -0.25rem;
  background-color: #c3a6a0;
  font-size: 20px;
}

.skeleton-text {
  font-size: 15px;
  background-color: #c3a6a0;
}
.card-img .image {
  height: 200px;
  width: 200px;
  object-fit: fill;
  display: block;
  margin: 10px;
  border-radius: 7%;
}
.card img {
  transition: all 0.1s ease;
  background-color: transparent;
}

.card:hover img {
  transform: scale(0.9);
}

.heart {
  margin: -23rem 0 0 16rem;
  height: 80px;
  border-radius: 100px;
  padding: 10px;
  background-color: transparent;
  position: absolute;
  border-color: transparent;
}


.card-title {
  font-weight: bold;
  margin-bottom: -0.25rem;
  color: #a15c38;
  font-size: 20px;
}

.card-text {
  font-size: 15px;
  color: #262220;
}


.card-text span {
  color: #a15c38;
  font-weight: bold;
}

table, th, td {
  border: 1px solid;
  border-color: #fff;
  padding-left: 150px;
}

.modal {
  display: block;
  align-content: center;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 95%;
  height: 80%;
  backdrop-filter: blur(3px);
}

.modal-content {
  padding-block-start: 10px;
  margin: auto;
  display: block;
  min-width: fit-content;
  object-fit: contain;
  background-color: #f7f1f0;
  border: 1px solid #c3a6a0;
  border-radius: 20px;
  
  padding: 40px 40px 170px;
  font-family: cursive;
}

.modal-title {
  color: #262220;
 
  }

#img01 {
  width:215px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.column {
  flex: 1;
  background-color: #f7f1f0;
  padding: 5px;
  border-radius: 5px;
  }

.modal-content, #caption, #caption1, #caption2 {
  position: relative;
  text-align: center;
  font-family: Britannic;
}

.modal-content, #caption1, #caption2 {
  margin-top: -130px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

#img01 .modal-content {
  border-color: #762a2a;
  border-radius: 20px;
}



.close {
  position: absolute;
  top: 15px;
  right: 193px;
  color: #a15c38;
  font-size: 54px;
  font-weight: bold;
  transition: 0.3s;
   z-index: 2;
}

.close:hover, .close:focus {
  color: #762a2a;
  text-decoration: none;
  cursor: pointer;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#diet-title {
  color: #a15c38;
}
#family-title {
  color: #a15c38;
}
#weight-title {
  color: #a15c38;
}
#height-title {
  color: #a15c38;
}
.search {
  display: flex;
  align-items: center;
  position: relative; 
}
 #searchIcon {
    display: none;
  }

/*SCREEN RESPONSIVE*/

@media (max-width: 320px) {
  
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 41px 2px 0px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: max-content;
  }

  #imgheader {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    background-color: transparent;
    margin: 3px 6px 0 8px;
  }
  #searchInput {
    display: block;
  }
  
 


#searchInput {
  display: none;
}

.search.show #searchInput {
   margin-right: 0px;
    margin-left: -240px;
margin-top: -32px;
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
}

#searchIcon {
  display: block;
  cursor: pointer;
  font-size: 30px;
}
.search {
  width: 100%;
}

.card {
  width: 252px;
  }
  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: -22px;
    position: relative;
  }

   #container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: space-between;        margin-left: 35px;
  
 }

  nav ul {
    display: none;
    flex-direction: column;
  }
  nav ul.show {
   
    display: flex;
        height: 100%;
        width: 150px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #c3a6a0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
  }
  #nav-toggle {
    display: block;
    padding: 0 0 0 40px;
    font-size: 20px;
    background-color: transparent;
    color: #a15c38;
    border-color: transparent;
    font-size: 35px;
    margin-left: 10px;
  }
  .closebtn {
    font-size: 25px;
    display: block;
    background-color: transparent;
    color: #a15c38;
    border-color: transparent;
  }
  body.nav-open {
    margin-left: 250px;
  }
 
  span.close {
    margin-top: 30px;
    margin-right: -9rem;
}
  .row {
    gap: 2px;
  }
  #shape {
    margin-top: -27px;
        width: 52%;
        position: absolute;
        margin-left: -2rem;
   
  }
  .modal-title {
    font-size: 23px;
    position: relative;
    font-family: cursive;
    margin-top: 10px;
    
  }
  .table {
    display: inline-flex;
    margin-left: -40px;
    color: #262220;
    background-color: #f7f1f0;
    font-family: cursive;
    font-size: x-small;
  }
  
  #diet {
    width:30px;
  }
  #height {
    width: 34px;
    margin-top: 25px;
}
  #weight {
    width:30px;
  }
  #family {
    width:30px;
  }
  .description {
    color: #262220;
    text-align: left;
   font-family: cursive;
  }
  .modal-content {
    width: 60%;
    height: 50%;
    min-width: auto;
    font-size: 14px;
  }
 #img01 {
  margin-right: 20px;
  width:100px;
   border-radius: 20px;
  z-index: 1;
  position: relative;

 }
 #container-skeleton {
  
  background-color: #f7f1f0;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: space-between;
  width: 85%;
  
    margin-left: 21px;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}
.image-about{
  margin-top: 25px;
}
.about-text {
  font-size: 14px;
   margin-top: 3px;
}
.contact-text {
  font-size: 10px;}
  .image-contact {
       margin-top: 45px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: max-content;
  }

  #imgheader {
    width: 9rem;
    height: 11rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 auto;
  }

  #searchInput {
    display: block;
  }
  
 


#searchInput {
  display: none;
}

.search.show #searchInput {

        margin-right: 0px;
        margin-left: -147px;
    margin-top: -32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#searchIcon {
  display: block;
  cursor: pointer;
  font-size: 30px;
}
.search {
  width: 100%;
}

.card {
  width: 210px;
}
  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: -22px;
    position: relative;
  }

   #container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: space-between;
    margin:40px;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }
  nav ul.show {
   
    display: flex;
        height: 100%;
        width: 150px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #c3a6a0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
  }
  #nav-toggle {
    display: block;
    padding: 0 0 0 40px;
    font-size: 20px;
    background-color: transparent;
    color: #a15c38;
    border-color: transparent;
    font-size: 35px;
  }
  .closebtn {
    font-size: 25px;
    display: block;
    background-color: transparent;
    color: #a15c38;
    border-color: transparent;
  }
  body.nav-open {
    margin-left: 250px;
  }
 span.close {
    margin-top: 30px;
    margin-right: -9rem;
}
  .row {
    gap: 2px;
  }
  #shape {
    margin-top: -27px;
        width: 52%;
        position: absolute;
        margin-left: -2rem;
   
  }
  .modal-title {
    font-size: 23px;
    position: relative;
    font-family: cursive;
    margin-top: 10px;
    
  }
  .table {
    display: inline-flex;
    margin-left: -40px;
    color: #262220;
    background-color: #f7f1f0;
    font-family: cursive;
    font-size: x-small;
  }
  
  #diet {
    width:30px;
  }
  #height {
    width: 34px;
    margin-top: 25px;
}
  #weight {
    width:30px;
  }
  #family {
    width:30px;
  }
  .description {
    color: #262220;
    text-align: left;
   font-family: cursive;
  }
  .modal-content {
    width: 60%;
    height: 50%;
    min-width: auto;
    font-size: 14px;
  }
 #img01 {
  margin-right: 20px;
  width:100px;
   border-radius: 20px;
  z-index: 1;
  position: relative;

 }
 .image-about{
  margin-top: 25px;
}
.about-text {
  font-size: 14px;
   margin-top: 3px;
}
.contact-text {
  font-size: 10px;}
  .image-contact {
       margin-top: 45px;
  }
  
}
@media (min-width: 375px) and (max-width: 425px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: max-content;
  }
  img {
    margin-top: 27px;
}
  #imgheader {
    width: 9rem;
    height: 9rem;
    object-fit: contain;
    background-color: transparent;
    margin: 5px -41px 0 8px;
  }


  #searchInput {
    display: block;
  }
  
 


#searchInput {
  display: none;
}

.search.show #searchInput {
  margin-right: 0px;
  margin-left: -114px;
  margin-top: -35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;
}

#searchIcon {
  display: block;
  cursor: pointer;
  font-size: 30px;
  margin-left: 53px;
        margin-top: 10px;
}
.search {
  width: 100%;
}


  /* .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

#searchInput {
  font-size: 12px;
  font-family: cursive, SANS-SERIF;
  border: 1px solid #a15c38;
  padding: 10px;
  border-radius: 25px;
  background: #f7f1f0;
  width: 0;
  opacity: 0;
  transition: width 0.3s, opacity 0.3s;
  position: absolute;
  right: 10px;
  visibility: hidden;
} */



.card {
  width: 210px;
}
  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: -22px;
    position: relative;
  }

   #container {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: space-between;
    margin-left: 45px;
}
    

  nav ul {
    display: none;
    flex-direction: column;
  }
  nav ul.show {
   
    display: flex;
        height: 100%;
        width: 150px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #c3a6a0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
  }
  #nav-toggle {
    display: block;
    padding: 0 0 0 40px;
    font-size: 20px;
    background-color: transparent;
    color: #a15c38;
    border-color: transparent;
    font-size: 45px;
    margin-top: 20px;
  }
  .closebtn {
    font-size: 25px;
    display: block;
    background-color: transparent;
    color: #a15c38;
    border-color: transparent;
  }
  body.nav-open {
    margin-left: 250px;
  }
  #searchInput.expanded {
    width: 200px;
    opacity: 1;
    visibility: visible;
  }
  
#container-skeleton {
  background-color: #f7f1f0;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: space-between;
  width: 85%;
  
    margin-left: 21px;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}
span.close {
  margin-top: -3px;
  margin-right: -9rem;
  font-size: 71px;

}
.row {
  gap: 2px;
}
#shape {
  margin-top: -46px;
  width: 63%;
  position: absolute;
  margin-left: -2rem;
 
}
.modal-title {
  font-size: 23px;
  position: relative;
  font-family: cursive;
  margin-top: 40px;
  
}
.table {
  display: inline-flex;
  margin-left: -40px;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: small;
}

#diet {
  width:30px;
}
#height {
  width: 30px;
  margin-top: 50px;
}

#weight {
  width:30px;
}
#family {
  width:30px;
}
.description {
  color: #262220;
  text-align: left;
 font-family: cursive;
 font-size: 10px;

}
.modal-content {
  width: 60%;
  height: 50%;
  min-width: auto;
  font-size: 14px;
}

#img01 {
  margin-right: 20px;
  width: 114px;
  border-radius: 20px;
  z-index: 1;
  position: relative;
  margin-top: -23px;

}
.image-about{
  margin-top: 25px;
}
.about-text {
  font-size: 14px;
   margin-top: 3px;
}}
@media (min-width: 425px) and (max-width: 560px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: max-content;
  }
  nav ul li {
    margin: -10px;
    padding: 0px 1px;
  }
  #imgheader {
    width: 9rem;
    height: 9rem;
    object-fit: contain;
    background-color: transparent;
    margin: 8px -13px -1px -99px;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  #searchInput {
    font-size: 12px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 8px;
    border-radius: 25px;
    background: #f7f1f0;
    margin-top: auto;
    margin-left: -98px;
  }

  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: -22px;
    position: relative;
  }

 
  #container {
    width: 88%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
  }

  #nav-toggle {
    display: none;
  }
  
#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;

}

.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}

span.close {
  margin-top: 32px;
  margin-right: -5rem;
  font-size: 71px;

}
.row {
  gap: 2px;
}
#shape {
  margin-top: -34px;
  width: 56%;
  position: absolute;
  margin-left: -3rem;
 
}
.modal-title {
  font-size: 23px;
  position: relative;
  font-family: cursive;
  margin-top: 47px;
  
}
.table {
  display: inline-flex;
  margin-left: -40px;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: medium;
}

#diet {
  width:30px;
}
#height {
  width: 34px;
  margin-top: 25px;
}
#weight {
  width:30px;
}
#family {
  width:30px;
}
.description {
  color: #262220;
  text-align: left;
 font-family: cursive;
 font-size: 17px;

}
.modal-content {
  width: 60%;
  height: 60%;
  min-width: auto;
  font-size: 14px;
}
#img01 {
margin-right: 20px;
width:140px;
 border-radius: 20px;
z-index: 1;
position: relative;
margin-top: 17px;

}
.image-about{
  margin-top: 25px;
}
.about-text {
  font-size: 14px;
   margin-top: 3px;
}
}
@media (min-width: 560px) and (max-width: 768px) {
  body {
    margin: 20px;
    width: min-content;
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 15px;
    width: max-content;
  }

  #imgheader {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 auto;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  #searchInput {
    font-size: 12px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
    margin-top: auto;
  
  }

  

  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: -22px;
    position: relative;
  }

  #fullcontainer {
    width: 100%;
  }

  #container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: space-between;
  }

  #nav-toggle {
    display: none;
  }
  span.close {
    margin-top: -1px;
    margin-right: -5rem;
    font-size: 83px;
  
  }
  .row {
    gap: 2px;
  }
 
#img01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 66px;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  width: 29%;
}

#shape {
  margin-top: 15px;
  width: 48%;
  position: absolute;
  margin-left: -26rem;
 
}
.modal-content {
  max-width: 65%;
  width: 65%;
  height: 60%;
}
.modal-title {
  font-size: 30px;
  position: relative;
  font-family: cursive;
  
}
.table {
  margin-left: 18rem;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  margin-top: 16px;
}

#diet {
  width:40px;
}
#weight {
  width:40px;
}
#height {
  width:40px;
}
#family {
  width:40px;
  margin-top: -24px;

}
.description {
  color: #262220;
  text-align: left;
  margin-top: 18px;
  font-family: cursive;
}

#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: space-between;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}
}
@media (min-width: 769px) and (max-width: 920px) {
  body {
    margin: 20px;
width: min-content;
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: max-content;
  }

  #imgheader {
    width: 12rem;
    height: 11rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 auto;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  #searchInput {
    font-size: 16px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
    margin-top: auto;
  }

 

  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: 0;
    position: relative;
  }


  #container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: space-between;
  }

  #nav-toggle {
    display: none;
  }
  .card {
    width:250px;
  }
  span.close {
    margin-top: 24px;
    margin-right: 1rem;
    font-size: 71px;
  
  }
  .row {
    gap: 2px;
  }
 
#img01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 73px;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  width: 29%;
}

#shape {
  margin-top: 15px;
  width: 51%;
  position: absolute;
  margin-left: -28rem;
 
}
.modal-content {
  max-width: 65%;
  width: 65%;
  height: 60%;
}
.modal-title {
  font-size: 34px;
  position: relative;
  font-family: cursive;
  
}
.table {
  margin-left: 22rem;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: large;
}

#diet {
  width:50px;
}
#weight {
  width:50px;
}
#height {
  width:50px;
}
#family {
  width:50px;
 margin-top: -24px;

}
.description {
  color: #262220;
  text-align: left;
  margin-top: -17px;
  font-family: cursive;
  font-size: large;
}

#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: space-between;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}
}
@media (min-width: 920px) and (max-width: 1024px) {
  body {
    margin: 20px;
width: min-content;
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: max-content;
  }

  #imgheader {
    width: 12rem;
    height: 11rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 auto;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  #searchInput {
    font-size: 16px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
    margin-top: auto;
  }

  

  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: 0;
    position: relative;
  }


  #container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: space-between;
  }

  #nav-toggle {
    display: none;
  }
  .card {
    width:250px;
  }
  span.close {
    margin-top: 24px;
    margin-right: 1rem;
    font-size: 71px;
  
  }
  .row {
    gap: 2px;
  }
 
#img01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 73px;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  width: 29%;
}

#shape {
  margin-top: 15px;
  width: 51%;
  position: absolute;
  margin-left: -28rem;
 
}
.modal-content {
  max-width: 65%;
  width: 65%;
  height: 60%;
}
.modal-title {
  font-size: 34px;
  position: relative;
  font-family: cursive;
  
}
.table {
  margin-left: 22rem;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: large;
}

#diet {
  width:50px;
}
#weight {
  width:50px;
}
#height {
  width:50px;
}
#family {
  width:50px;
 margin-top: -24px;

}
.description {
  color: #262220;
  text-align: left;
  margin-top: -17px;
  font-family: cursive;
  font-size: large;
}
#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: space-between;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}
}
@media (min-width: 1024px) and (max-width: 1240px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    font-size: 17px;
  }

  #imgheader {
    width: 13rem;
    height: 13rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 44px -8px -68px;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #searchInput {
    font-size: 16px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
    margin-top: auto;
  }


  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: 0;
    position: relative;
  }
  #container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: space-between;
  }

  #nav-toggle {
    display: none;
  }
  .card {
    width:260px;
  }

  span.close {
    margin-top: 33px;
    margin-right: -1rem;
    font-size: 83px;
}
  
 
#img01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 64px;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  width: 25%;
}

#shape {
  margin-top: 17px;
  width: 42%;
  position: absolute;
  margin-left: -30rem;
 
}
.modal-content {
  max-width: 65%;
  width: 65%;
  height: 65%;
  margin-top: -40px;
}
.modal-title {
  font-size: 34px;
  position: relative;
  font-family: cursive;
  
}
.table {
  margin-left: 22rem;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: large;
}

#diet {
  width:60px;
}
#weight {
  width:60px;
}
#height {
  width:60px;
}
#family {
  width:50px;
 margin-top: -24px;

}
.description {
  color: #262220;
  text-align: left;
  margin-top: -17px;
  font-family: cursive;
  font-size: larger;
}

#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: space-between;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}

}
@media (min-width: 1241px) and (max-width: 1249px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    font-size: 17px;
  }

  #imgheader {
    width: 11rem;
    height: 11rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 44px -8px -68px;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 3px 14px -74px 0px;
  }

  #searchInput {
    font-size: 16px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
    margin-top: -46px;
  }

 
  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: 0;
    position: relative;
  }
  #container {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: space-between;
    margin-left: 35px;
  }
  

  #nav-toggle {
    display: none;
  }
  .card {
    width:320px;
  }

  span.close {
    margin-top: 24px;
    margin-right: 1rem;
    font-size: 71px;
  
  }
 
#img01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 48px;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  width: 26%;
}

#shape {
  margin-top: -18px;
  width: 43%;
  position: absolute;
  margin-left: -30rem;
 
}
.modal-content {
  max-width: 78%;
  width: 60%;
  height: 60%;
  margin-top: -100px;;
}
.modal-title {
  font-size: 34px;
  position: relative;
  font-family: cursive;
 
  
}
.table {
  margin-left: 14rem;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: medium;
  margin-top:10px;
}

#diet {
  width:40px;
  font-weight:bold;
}
#weight {
  width:40px;
  font-weight:bold;
}
#height {
  width:40px;
  font-weight:bold;
}
#family {
  width:40px;
 margin-top: -24px;
 font-weight:bold;

}
.description {
  color: #262220;
  text-align: left;
  margin-top: -17px;
  font-family: cursive;
  font-size: larger;
  margin-top: -7px;
}

#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: space-between;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}.image-about{
  margin-top: -165px;
}
.about-text {
  font-size: 20px;
}
.card-about {
  width: 96%;
}
.card-contact {
  width: 96%;
  margin-left: 90px;
}
.contact-text {
  font-size: 22px;
  margin-top: 50px;
  margin-left: 32px;
}

}
@media (min-width: 1249px) and (max-width: 1440px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    font-size: 17px;
  }

  #imgheader {
    width: 11rem;
    height: 11rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 44px -8px -68px;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 3px 14px -74px 0px;
  }

  #searchInput {
    font-size: 16px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
    
  }

 
  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: 0;
    position: relative;
  }
  #container {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: space-between;
    margin-left: 35px;
  }
  

  #nav-toggle {
    display: none;
  }
  .card {
    width:320px;
  }

  span.close {
    margin-top: 24px;
    margin-right: 1rem;
    font-size: 71px;
  
  }
 
#img01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 48px;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  width: 26%;
}

#shape {
  margin-top: -18px;
  width: 43%;
  position: absolute;
  margin-left: -30rem;
 
}
.modal-content {
  max-width: 78%;
  width: 60%;
  height: 60%;
  margin-top: -100px;;
}
.modal-title {
  font-size: 34px;
  position: relative;
  font-family: cursive;
 
  
}
.table {
  margin-left: 22rem;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: medium;
  margin-top:10px;
}

#diet {
  width:40px;
  font-weight:bold;
}
#weight {
  width:40px;
  font-weight:bold;
}
#height {
  width:40px;
  font-weight:bold;
}
#family {
  width:40px;
 margin-top: -24px;
 font-weight:bold;

}
.description {
  color: #262220;
  text-align: left;
  margin-top: -17px;
  font-family: cursive;
  font-size: larger;
  margin-top: -7px;
}

#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: space-between;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}
.image-about{
  margin-top: -165px;
}
.about-text {
  font-size: 20px;
}
.card-about {
  width: 96%;
}
.card-contact {
  width: 88%;
  margin-left: 90px;
}
.contact-text {
  font-size: 22px;
  margin-top: 50px;
  margin-left: 32px;
}

}
@media (min-width: 1440px) and (max-width: 2560px){
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    font-size: 17px;
  }

  #imgheader {
    width: 11rem;
    height: 11rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 44px -8px -68px;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #searchInput {
    font-size: 16px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
    margin-top: auto;
  }



  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: 0;
    position: relative;
  }


  #container {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-content: space-between;
    margin-left: 65px;
  
  }

  #nav-toggle {
    display: none;
  }
  .card {
    width:250px;
  }
  
  
  span.close {
    margin-top: 32px;
    margin-right: 4rem;
    font-size: 83px;
  
  }
 
#img01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 64px;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  width: 25%;
}

#shape {
  margin-top: 17px;
  width: 42%;
  position: absolute;
  margin-left: -32rem;
 
}
.modal-content {
  max-width: 65%;
        width: 65%;
        height: 63%;
        margin-top: -40px;
}
.modal-title {
  font-size: 34px;
  position: relative;
  font-family: cursive;
  
}
.table {
  margin-left: 22rem;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: large;
}

#diet {
  width:60px;
}
#weight {
  width:60px;
}
#height {
  width:60px;
}
#family {
  width:60px;
 margin-top: -24px;

}
.description {
  color: #262220;
  text-align: left;
  margin-top: -17px;
  font-family: cursive;
  font-size: larger;
}

    
#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-content: space-between;
}
.card-skeleton {
  width:320px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}
}
@media (min-width: 2560px) {
  header#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
  }
  

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    font-size: 32px;
  }

  #imgheader {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    background-color: transparent;
    margin: 0 44px -8px -68px;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #searchInput {
    font-size: 32px;
    font-family: cursive, SANS-SERIF;
    border: 1px solid #a15c38;
    padding: 10px;
    border-radius: 25px;
    background: #f7f1f0;
    margin-top: auto;
  }

 
  #likedButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    margin: 0;
    position: relative;
  }


  #container {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    justify-content: space-between;
  }

  #nav-toggle {
    display: none;
  }
  .card {
    width:425px;
  }
  
  
  span.close {
    margin-top: 32px;
    margin-right: 4rem;
    font-size: 83px;
  
  }
 
#img01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 64px;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  width: 25%;
}

#shape {
  margin-top: 17px;
  width: 42%;
  position: absolute;
  margin-left: -32rem;
 
}
.modal-content {
  max-width: 65%;
        width: 65%;
        height: 63%;
        margin-top: -40px;
}
.modal-title {
  font-size: 34px;
  position: relative;
  font-family: cursive;
  
}
.table {
  margin-left: 22rem;
  color: #262220;
  background-color: #f7f1f0;
  font-family: cursive;
  font-size: large;
}

#diet {
  width:60px;
}
#weight {
  width:60px;
}
#height {
  width:60px;
}
#family {
  width:60px;
 margin-top: -24px;

}
.description {
  color: #262220;
  text-align: left;
  margin-top: -17px;
  font-family: cursive;
  font-size: larger;
}

    
#container-skeleton {
  background-color: #f7f1f0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-content: space-between;
}
.card-skeleton {
  width:425px;
}
.skeleton-title {
  background-color: #262220;
  position: relative;
}
.image-about{
  margin-top: -165px;
}
.image-about {
  width: 93%;
  height: auto;
  border-radius: 10px;
  margin-top: -260px;

}

.about-text {
  font-size: 40px; 
  line-height: 1.5; 
  color: #262220; 
  font-family: cursive, sans-serif;
  margin-top: 50px;
  text-align: left;
}
.card-about {
  width: 100%;
  height: 750px;
  background-color: #f7f1f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 125px;

}

.row-about {
  display: flex; 
}

.column1 {
  flex: 1; 
  padding: 20px; }

.column2 {
  flex: 1; 
  padding: 20px;
}
.card-contact {
  width: 155%;
  margin-left: 90px;
  height: 711px;

}
.contact-text {
  font-size:44px;
  margin-top: 50px;
  margin-left: 32px;
}

}
