
header#header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

nav {
  display: flex;
  list-style: none; 
  margin: 0; 
  padding: 0;
}

nav ul {
  display: flex; 
}

nav li {
  margin-right: 1rem; 
}


nav a {
  text-decoration: none; 
  color: inherit; 
}

.active {
  font-weight: bold; 
}

#imgheader {
  margin: 0 auto; 
}

.search {
  display: flex;
  align-items: center;
}

.search.show {

  display: flex;
}

#searchInput {
  border: 1px solid #ccc; 
  padding: 0.5rem; 
  margin-right: 1rem; 
  flex-grow: 1; 
}

#searchButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
